<!DOCTYPE html>
<html>
  <head>
    <title>スケジュール管理</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header">
        <h1>スケジュール管理アプリ</h1>
        <p>現在：<%= Date.today.strftime("%Y年%m月%d日") %></p>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
